/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

#nav {
  display: block;
  text-align: right;
  height: 50px;
  padding-bottom: 10px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  margin-right: 20px;
  font-family: Arial;
  color: #505050;
}
#app {
  height: 20px;
  width: 20px;
}
#bell {
  height: 23px;
  width: 23px;
  border-radius: 100%;
}
#me {
  padding: 0px;
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
a:link {
  text-decoration: none;
  color: #101010;
  font-family: Arial;
}
a:visited {
  color: #101010;
}
a:hover {
  text-decoration: underline;
}
.center {
  display: block;
  text-align: center;
}
#logo {
  padding-top: 109px;
  height: 92px;
  width: 272px;
}

#search {
  width: 425px;
  height: 30px;
  border: 1px solid #959595;
  margin-top: 20px;
}
#search:hover {
  border: 1px solid black;
}
.button {
  height: 35px;
  width: 125px;
  margin-top: 20px;
  margin-right: 10px;
  background: #e6e6e6;
  font-family: Arial;
  font-size: 12px;
  color: #505050;
  font-weight: bold;
}
.button:hover {
  border: 1px solid gray;
  box-shadow: 0px 2px gray;
}
#foot {
  background: #e6e6e6;
  margin-top: 50px;
  border-top: 1px solid #e3e3e3;
  height: 50px;
}
#foot li a {
  color: #505050;
}
.left {
  float: left;
}
.right {
  float: right;
}